.language-html{
  width: 50rem;  
  height: 23rem;
}
nav{
  display: flex;
  align-items: center;
  background:rgb(33,37,41);
  color: white;
  cursor: pointer;
  width: 100%;
}
nav ul{
  display: flex;
  list-style: none;
  margin-left: -1.5rem;
}
nav ul li{
  margin-right: 1rem;
}
.head{
  list-style: none;
  margin-left: 1rem;
  font-size: 1.3rem;
}
@media screen and (max-width:550px) {
  nav{
    flex-direction: column;
  }
}
.form{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
#get{
  height: 2rem;
  padding-left: 1rem;
  width: 50rem;
  color: rgb(33,37,41);
  font-style: bold;
}
#get:hover{
  transition:1s;
  box-shadow: 1px 1px 20px rgb(64, 93, 238);
  border:white;

}
#getBtn{
  margin-left: 10px;
  background-color:#0d6efd;
  color: white;
  border: white;
  padding: 0.6rem 1rem;
  border-radius: 3px;
}